@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.backgrounds img {
  border-radius: 0;
  border: none;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.modal-setting {
  text-align: center;
  margin: 0 auto;
  display: grid;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(255, 235, 193)100%);
  ;
  justify-self: center;
  align-self: center;
  position: relative;

  border-radius: 0.2rem;


}

.modal h2 {
  font-size: 2rem;
  color: black;
}

.modal input {
  font-size: 3rem;
  margin: 2rem auto;
  width: 5rem;
  height: 5rem;
  text-align: center;
}

.modal span {
  font-size: 1rem;
  color: red;
}

.modal-button {
  padding: 0.5rem;
  width: 5rem;
  margin-top: 2rem;
  border-radius: 0.2rem;
  background: linear-gradient(90deg, rgba(4, 251, 166, 0.6) 0%, rgba(6, 194, 232, 0.4) 100%);

}

body {
  font-size: 62.5%;
  color: #98c789;
  display: grid;

}

.container {}

.container,
.cards {
  justify-self: center;
  align-self: center;

}



.timer {
  font-size: clamp(4rem, 7rem + 5vw, 8.8rem);
  font-family: 'Chicle', cursive;
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(253, 187, 45, 1)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;

}


button {
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: clamp(10rem, 10rem + 50vw, 30rem);
  padding: 0 0 1rem 0;
  opacity: 1;
  border-radius: 9999px;

}

.hide {
  display: none;
}

img {
  width: clamp(2rem, 4rem + 5vw, 4rem);
  border: 2px solid white;
  border-radius: 9999px;
}

.cards {
  width: clamp(23rem, 15rem + 20vw, 30rem);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;

}

.card {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 11.5rem;
  padding: 4rem;
  background: linear-gradient(90deg, rgba(4, 251, 166, 0.6) 0%, rgba(6, 194, 232, 0.4) 100%);

  border: 2px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}


.select {
  background: linear-gradient(90deg, rgba(4, 251, 166, 0.6) 0%, rgba(6, 194, 232, 0.4) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(253, 187, 45, 0.8)100%);
  border: 2px solid white;

}
